# Build output
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# HTTP request files
*.http

# Configuration files
appsettings.json
.editorconfig
appsettings.Development.json

# Visual Studio / VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db